@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
.div1{
    width: 350px;
    height: 596px;
    border-radius: 15px;
    background-color: #15263F;
    margin: auto;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}
.photo1{
    width: 302px;
    height: 302px;
    border-radius: 8px;
    padding-left: 24px;
    padding-top: 24px;
}
body{
    background-color: #0D192C;
    padding-top: 152px;
    padding-bottom: 152px;
}

.h11{
    color: white;
    padding-left: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    
}
.p1{
    color: #8BACD9;
    padding-left: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    width: 302px;
    height: 52px;
}
.icon1{
width: 11px;
height: 7.78px;
margin-left: 24px;

}
.icon2{
    width: 13.33px;
    height: 13.33px;
    margin-left: 112.15px;
}

.div2{
    width: 302px;
    height: 1px;
    background-color:#2E405A ;
    margin-top: 26.66px;
    margin-left: 24px;

}

.div3{
    display: flex;
}
.div4{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    margin-left: 6.49px;
    color: #00FFF8;

}
.div5{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 7.7px;
    color: #8BACD9;
}
.div6{
    display: flex;
    margin-top: 16px;
    margin-left: 24px;
}
.text1{
    margin-top: 6px;
    margin-left: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
}
.text2{
    margin-top: 6px;
    margin-left: 5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;

}